:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-purple);
  font: 16px 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 70px 140px;
}

section#home {
  background: var(--purple-bg);
  border-bottom: 6px solid var(--green);
}

#home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

#home header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 35px;
}

#home header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
}

#home header nav ul li a.active {
  font-weight: bold;
}

#home header form fieldset {
  border: none;
  height: 44px;
  width: 300px;

  display: flex;
  align-items: center;
}

#home header form fieldset input {
  border: none;
  height: 100%;
  background: var(--dark-bg);
  color: var(--light-purple);
  padding: 16px;
  font-size: 14px;
}

#home header form fieldset button {
  height: 100%;
  width: 70px;
  border: none;
  background: var(--button-bg);
  cursor: pointer;
}

#featured {
  display: flex;
  justify-content: space-between;
}

#featured h2 {
  font-size: 36px;
  line-height: 54px;
  color: var(--button-bg);
  margin-bottom: 21px;
}

#featured p {
  font-size: 18px;
  color: var(--light-purple);
  margin-bottom: 21px;
}

#featured a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--button-bg);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

#featured a img {
  margin-left: 8px;
}

section#content {
  display: grid;
  grid-template-areas:
    "post1 post1 post2"
    "post1 post1 post3"
    "post4 post5 post6";

  grid-template-columns: 1fr 1fr 1fr;
}

section#content h3 {
  color: var(--purple-bg);
  font-size: 24px;
  line-height: 36px;
  margin: 16px 0;
}

section#content img {
  margin-bottom: 16px;
}

#post1 {
  grid-area: post1;
  width: 570px;
  margin-bottom: 64px;
}

#post2 {
  grid-area: post2;
}

#post3 {
  grid-area: post3;
}

#post4 {
  grid-area: post4;
}

#post5 {
  grid-area: post5;
}

#post6 {
  grid-area: post6;
}

.mid-post {
  width: 370px;
}